In [2]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pq

In [8]:
df = pq.read_table('data/df_train.parquet')
df.shape

(4219370, 21)

In [9]:
df = df.to_pandas()

In [10]:
df.shape

(4219370, 21)

In [11]:
df.to_csv('data/train.csv', index=False)

In [11]:
df.head()

,st_code_snd,st_code_rsv,date_depart_year,date_depart_month,date_depart_week,date_depart_day,date_depart_hour,fr_id,route_type,is_load,rod,common_ch,vidsobst,distance,snd_org_id,rsv_org_id,snd_roadid,rsv_roadid,snd_dp_id,rsv_dp_id
0,happy:)pgkwagon:):),pgk2022newyear:)pgk,2022,9,35,1,9,2261.0,3.0,0,2,10.0,102.0,2930.0,2974,2847,28,28,134,125
1,2022newyear:)newyear:):),hacktutu:)newyear:)2022,2022,8,34,22,14,1653.0,4.0,1,8,9.0,102.0,1728.0,2957,6340,18,18,102,16
2,happyrailwaytutu:)pgk,newyeartutu:)hack:)newyear,2022,5,21,26,16,643.0,3.0,1,8,9.0,102.0,4393.0,1664,2128,0,0,1,124
3,2022tuturailwayhack:):),2022newyear:)happy:)pgk,2022,11,44,4,4,2261.0,4.0,0,8,975.0,111.0,1111.0,2974,2468,32,32,29,31
4,happyrailwaytutu:)pgk,pgk2022newyear:)pgk,2022,5,20,17,6,2261.0,3.0,0,15,40.0,111.0,19.0,2974,1098,29,29,117,117

In [ ]:
df = pq.read_table('data/df_test.parquet')
df = df.to_pandas()
df.to_csv('data/test.csv', index=False)